.col-md-12
  // Panel
  .card.g-brd-gray-light-v7.g-rounded-3.g-mb-30
    header.card-header.g-bg-transparent.g-brd-bottom-none.g-px-15.g-px-30--sm.g-pt-15.g-pt-25--sm.pb-0
      .media
        h3.d-flex.align-self-center.text-uppercase.g-font-size-12.g-font-size-default--md.g-color-black.g-mr-10.mb-0 Panel title
        .media-body.d-flex.justify-content-end
          #rangePickerWrapper.d-flex.align-self-center.u-datepicker-right.u-datepicker--v3.g-pr-10
            input#rangeDatepicker.g-font-size-12.g-font-size-default--md(type='text' data-rp-wrapper='#rangePickerWrapper' data-rp-type='range' data-rp-date-format='d M Y' data-rp-default-date='["01 Jan 2016", "31 Dec 2017"]')
            i.hs-admin-angle-down.g-absolute-centered--y.g-right-0.g-color-gray-light-v6
          .align-self-center.g-pos-rel.g-z-index-2
            a#dropDown1Invoker.u-link-v5.g-pos-rel.g-top-4.g-line-height-0.g-font-size-24.g-color-gray-light-v6.g-color-secondary--hover.g-ml-10.g-ml-20--md(href='#' aria-controls='dropDown1' aria-haspopup='true' aria-expanded='false' data-dropdown-event='click' data-dropdown-target='#dropDown1' data-dropdown-type='jquery-slide')
              i.hs-admin-more-alt
            #dropDown1.u-shadow-v31.g-pos-abs.g-right-0.g-z-index-2.g-bg-white.u-dropdown--css-animation.u-dropdown--hidden.u-dropdown--reverse-y(aria-labelledby='dropDown1Invoker')
              ul.list-unstyled.g-nowrap.mb-0
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-pencil.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Edit
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-archive.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Archive
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-check.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Mark as Done
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-plus.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   New Task
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-trash.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Delete
    .card-block.g-pa-15.g-pa-30--sm
      h4.g-font-weight-300.g-font-size-18.g-font-size-22--md.g-color-black.g-mb-10 Basic Panel
      p.g-font-weight-300.g-color-gray-dark-v6.mb-0
        | Businesses often become known today through effective marketing. The marketing may be in the form of a regular news item or half column society news in the Sunday newspaper. The marketing may be in the form of a heart to heart talk
        | with Mr. Brown on his prominent local television show. These are all advertising. Businesses cannot get away from the force of advertising. If they want to make their products known in the marketplace they have to use some form of
        | advertisement.
  // End Panel
  // Panel
  .card.g-brd-gray-light-v7.g-rounded-3.g-mb-30
    header.card-header.g-brd-bottom-none.g-px-15.g-px-30--sm.g-pt-15.g-pt-20--sm.g-pb-10.g-pb-15--sm
      .media
        h3.d-flex.align-self-center.text-uppercase.g-font-size-12.g-font-size-default--md.g-color-black.g-mr-10.mb-0 Panel title
        .media-body.d-flex.justify-content-end
          a.hs-admin-panel.u-link-v5.g-font-size-20.g-color-gray-light-v3.g-color-secondary--hover(href='#')
          a.hs-admin-reload.u-link-v5.g-font-size-20.g-color-gray-light-v3.g-color-secondary--hover.g-ml-20(href='#')
    .card-block.g-pa-15.g-pa-30--sm
      h4.g-font-weight-300.g-font-size-18.g-font-size-22--md.g-color-black.g-mb-10 Basic Panel with Background
      p.g-font-weight-300.g-color-gray-dark-v6.mb-0
        | Businesses often become known today through effective marketing. The marketing may be in the form of a regular news item or half column society news in the Sunday newspaper. The marketing may be in the form of a heart to heart talk
        | with Mr. Brown on his prominent local television show. These are all advertising. Businesses cannot get away from the force of advertising. If they want to make their products known in the marketplace they have to use some form of
        | advertisement.
  // End Panel
  // Panel
  .card.g-brd-gray-light-v7.g-rounded-3.g-mb-30
    .progress.g-height-6.g-bg-gray-light-v8.g-rounded-3
      .progress-bar.g-bg-darkblue-v2(role='progressbar' style='width: 40%' aria-valuenow='40' aria-valuemin='0' aria-valuemax='100')
    header.card-header.g-bg-transparent.g-brd-bottom-none.g-px-15.g-px-30--sm.g-pt-15.g-pt-25--sm.pb-0
      .media
        h3.d-flex.align-self-center.text-uppercase.g-font-size-12.g-font-size-default--md.g-color-black.g-mr-10.mb-0 Panel title
        .media-body.d-flex.justify-content-end
          #rangePickerWrapper2.d-flex.align-self-center.u-datepicker-right.u-datepicker--v3.g-pr-10
            input#rangeDatepicker2.g-font-size-12.g-font-size-default--md(type='text' data-rp-wrapper='#rangePickerWrapper2' data-rp-type='range' data-rp-date-format='d M Y' data-rp-default-date='["01 Jan 2016", "31 Dec 2017"]')
            i.hs-admin-angle-down.g-absolute-centered--y.g-right-0.g-color-gray-light-v6
          .align-self-center.g-pos-rel.g-z-index-2
            a#dropDown2Invoker.u-link-v5.g-pos-rel.g-top-4.g-line-height-0.g-font-size-24.g-color-gray-light-v6.g-color-secondary--hover.g-ml-10.g-ml-20--md(href='#' aria-controls='dropDown2' aria-haspopup='true' aria-expanded='false' data-dropdown-event='click' data-dropdown-target='#dropDown2' data-dropdown-type='jquery-slide')
              i.hs-admin-more-alt
            #dropDown2.u-shadow-v31.g-pos-abs.g-right-0.g-z-index-2.g-bg-white.u-dropdown--css-animation.u-dropdown--hidden.u-dropdown--reverse-y(aria-labelledby='dropDown2Invoker')
              ul.list-unstyled.g-nowrap.mb-0
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-pencil.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Edit
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-archive.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Archive
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-check.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Mark as Done
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-plus.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   New Task
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-trash.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Delete
    .card-block.g-pa-15.g-pa-30--sm
      h4.g-font-weight-300.g-font-size-18.g-font-size-22--md.g-color-black.g-mb-10 Panel with Progress bar
      p.g-font-weight-300.g-color-gray-dark-v6.mb-0
        | Businesses often become known today through effective marketing. The marketing may be in the form of a regular news item or half column society news in the Sunday newspaper. The marketing may be in the form of a heart to heart talk
        | with Mr. Brown on his prominent local television show. These are all advertising. Businesses cannot get away from the force of advertising. If they want to make their products known in the marketplace they have to use some form of
        | advertisement.
    footer.card-footer.d-flex.g-bg-transparent.g-brd-top-none.g-px-15.g-px-30--sm.pt-0.g-pb-10.g-pb-20--sm
      .d-flex.align-items-center.g-color-gray-dark-v6
        i.hs-admin-comments.g-font-size-18.g-color-gray-light-v6
        span.g-ml-12 32
      .d-flex.align-items-center.g-color-gray-dark-v6.g-ml-15.g-ml-30--sm
        i.hs-admin-file.g-font-size-18.g-color-gray-light-v6
        span.g-ml-12 24
      .d-flex.align-items-center.g-color-gray-dark-v6.g-ml-15.g-ml-30--sm
        i.hs-admin-check.g-font-size-18.g-color-gray-light-v6
        span.g-ml-12 18
  // End Panel
  // Panel
  .card.g-brd-gray-light-v7.g-rounded-3.g-mb-30
    header.card-header.g-bg-transparent.g-brd-bottom-none.g-px-15.g-px-30--sm.g-pt-15.g-pt-25--sm.pb-0
      .media
        .u-select--v1.g-line-height-1.g-bg-gray-light-v8.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-color-secondary--hover.g-rounded-15.g-pl-15.g-pr-40.g-py-10
          select.js-select.u-select--v1-select.w-100(style='display: none;')
            option(data-content='<span class="d-flex align-items-center"><span class="u-badge-v2--md g-pos-stc g-transform-origin--top-left g-bg-darkblue-v2 g-mr-8--sm"></span><span class="g-hidden-sm-down g-line-height-1_2 g-color-black">Employees</span></span>') Employees
            option(data-content='<span class="d-flex align-items-center"><span class="u-badge-v2--md g-pos-stc g-transform-origin--top-left g-bg-lightblue-v3 g-mr-8--sm"></span><span class="g-hidden-sm-down g-line-height-1_2 g-color-black">Friends</span></span>') Friends
            option(data-content='<span class="d-flex align-items-center"><span class="u-badge-v2--md g-pos-stc g-transform-origin--top-left g-bg-teal-v2 g-mr-8--sm"></span><span class="g-hidden-sm-down g-line-height-1_2 g-color-black">Colleagues</span></span>') Colleagues
          i.hs-admin-angle-down.g-absolute-centered--y.g-right-15.g-color-gray-light-v6
        .media-body.d-flex.align-self-center.justify-content-end
          a.d-flex.align-items-center.u-link-v5.g-color-gray-light-v6.g-color-secondary--hover(href='#')
            i.hs-admin-share.g-font-size-18
            span.g-hidden-sm-down.g-ml-10 Forward
          a.d-flex.align-items-center.u-link-v5.g-color-gray-light-v6.g-color-secondary--hover.g-ml-10.g-ml-15--sm.g-ml-30--xl(href='#')
            i.hs-admin-brush-alt.g-font-size-18
            span.g-hidden-sm-down.g-ml-10 Mark as Spam
          .align-self-center.g-pos-rel.g-z-index-2
            a#dropDown3Invoker.u-link-v5.g-pos-rel.g-top-4.g-line-height-0.g-font-size-24.g-color-gray-light-v6.g-color-secondary--hover.g-ml-10.g-ml-20--md(href='#' aria-controls='dropDown3' aria-haspopup='true' aria-expanded='false' data-dropdown-event='click' data-dropdown-target='#dropDown3' data-dropdown-type='jquery-slide')
              i.hs-admin-more-alt
            #dropDown3.u-shadow-v31.g-pos-abs.g-right-0.g-z-index-2.g-bg-white.u-dropdown--css-animation.u-dropdown--hidden.u-dropdown--reverse-y(aria-labelledby='dropDown3Invoker')
              ul.list-unstyled.g-nowrap.mb-0
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-pencil.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Edit
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-archive.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Archive
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-check.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Mark as Done
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-plus.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   New Task
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-trash.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Delete
    .card-block.g-pa-15.g-pa-30--sm
      h4.g-font-weight-300.g-font-size-18.g-font-size-22--md.g-color-black.g-mb-10 Basic Panel
      p.g-font-weight-300.g-color-gray-dark-v6.mb-0
        | Businesses often become known today through effective marketing. The marketing may be in the form of a regular news item or half column society news in the Sunday newspaper. The marketing may be in the form of a heart to heart talk
        | with Mr. Brown on his prominent local television show. These are all advertising. Businesses cannot get away from the force of advertising. If they want to make their products known in the marketplace they have to use some form of
        | advertisement.
  // End Panel
  // Panel
  .card.g-brd-gray-light-v7.g-rounded-3.g-mb-30
    header.card-header.g-bg-transparent.g-brd-bottom-none.g-px-15.g-px-30--sm.g-pt-15.g-pt-25--sm.pb-0
      .media
        .d-flex.align-self-center.g-pos-rel
          a.d-flex.align-items-center.u-link-v5.g-parent.g-width-100--sm.g-line-height-1_2.g-font-size-default(href='#' aria-haspopup='true' aria-expanded='false' data-dropdown-event='click' aria-controls='searchFirst' data-dropdown-target='#searchFirst' data-dropdown-type='css-animation' data-dropdown-duration='300' data-dropdown-animation-in='fadeInUp' data-dropdown-animation-out='fadeOutDown')
            i.hs-admin-search.g-font-size-16.g-color-gray-light-v6.g-color-secondary--parent-hover.g-mr-10.g-mr-15--md
            span.g-color-gray-dark-v6.g-color-secondary--parent-hover Search
          form#searchFirst.u-dropdown--css-animation.u-dropdown--hidden.g-pos-abs.g-top-100x.g-left-0.g-width-200.g-mt-8
            .input-group.mb-0
              input.form-control.g-font-size-default.w-100(type='search')
        h3.media-body.d-flex.align-self-center.justify-content-center.text-uppercase.g-font-size-12.g-font-size-default--md.g-color-black.g-px-10.mb-0 Panel title
        .d-flex.align-self-center.justify-content-end.g-width-100--sm
          .align-self-center.g-pos-rel.g-z-index-2
            a#dropDown4Invoker.u-link-v5.g-pos-rel.g-top-4.g-line-height-0.g-font-size-24.g-color-gray-light-v6.g-color-secondary--hover.g-ml-10.g-ml-20--md(href='#' aria-controls='dropDown4' aria-haspopup='true' aria-expanded='false' data-dropdown-event='click' data-dropdown-target='#dropDown4' data-dropdown-type='jquery-slide')
              i.hs-admin-more-alt
            #dropDown4.u-shadow-v31.g-pos-abs.g-right-0.g-z-index-2.g-bg-white.u-dropdown--css-animation.u-dropdown--hidden.u-dropdown--reverse-y(aria-labelledby='dropDown4Invoker')
              ul.list-unstyled.g-nowrap.mb-0
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-pencil.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Edit
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-archive.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Archive
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-check.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Mark as Done
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-plus.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   New Task
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-trash.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Delete
    .card-block.text-center.g-pa-15.g-pa-30--sm
      h4.g-font-weight-300.g-font-size-18.g-font-size-22--md.g-color-black.g-mb-10 Basic Panel with Center align
      p.g-font-weight-300.g-color-gray-dark-v6.mb-0
        | Businesses often become known today through effective marketing. The marketing may be in the form of a regular news item or half column society news in the Sunday newspaper. The marketing may be in the form of a heart to heart talk
        | with Mr. Brown on his prominent local television show. These are all advertising. Businesses cannot get away from the force of advertising. If they want to make their products known in the marketplace they have to use some form of
        | advertisement.
  // End Panel
  // Panel
  .card.g-brd-gray-light-v7.g-rounded-3.g-mb-30
    header.card-header.g-bg-transparent.g-brd-bottom-none.g-px-15.g-px-30--sm.g-pt-15.g-pt-25--sm.pb-0
      .media
        h3.d-flex.align-self-center.text-uppercase.g-font-size-12.g-font-size-default--md.g-color-secondary.g-mr-10.mb-0 Panel title
        .media-body.d-flex.justify-content-end
          .align-self-center.g-pos-rel.g-z-index-2
            a#dropDown5Invoker.u-link-v5.g-pos-rel.g-top-4.g-line-height-0.g-font-size-24.g-color-gray-light-v6.g-color-secondary--hover.g-ml-10.g-ml-20--md(href='#' aria-controls='dropDown5' aria-haspopup='true' aria-expanded='false' data-dropdown-event='click' data-dropdown-target='#dropDown5' data-dropdown-type='jquery-slide')
              i.hs-admin-more-alt
            #dropDown5.u-shadow-v31.g-pos-abs.g-right-0.g-z-index-2.g-bg-white.u-dropdown--css-animation.u-dropdown--hidden.u-dropdown--reverse-y(aria-labelledby='dropDown5Invoker')
              ul.list-unstyled.g-nowrap.mb-0
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-pencil.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Edit
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-archive.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Archive
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-check.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Mark as Done
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-plus.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   New Task
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-trash.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Delete
    .card-block.g-pa-15.g-pa-30--sm
      h4.g-font-weight-300.g-font-size-18.g-font-size-22--md.g-color-black.g-mb-10 Panel with Footer
      p.g-font-weight-300.g-color-gray-dark-v6.mb-0
        | Businesses often become known today through effective marketing. The marketing may be in the form of a regular news item or half column society news in the Sunday newspaper. The marketing may be in the form of a heart to heart talk
        | with Mr. Brown on his prominent local television show. These are all advertising. Businesses cannot get away from the force of advertising. If they want to make their products known in the marketplace they have to use some form of
        | advertisement.
    footer.card-footer.g-bg-transparent.g-brd-gray-light-v7.g-px-15.g-px-30--sm.g-py-15.g-py-25--sm
      .d-flex.align-items-center.g-color-gray-dark-v6
        i.hs-admin-check.g-font-size-18.g-color-secondary
        span.g-ml-10 All Tasks Completed
  // End Panel
.col-md-12
  // Panel
  .card.g-brd-gray-light-v7.g-rounded-3.g-mb-30
    header.card-header.g-bg-transparent.g-brd-gray-light-v7.g-px-15.g-px-30--sm.g-pt-15.g-pt-20--sm.g-pb-10.g-pb-15--sm
      .media
        h3.d-flex.align-self-center.text-uppercase.g-font-size-12.g-font-size-default--md.g-color-black.g-mr-10.mb-0 Panel title
        .media-body.d-flex.justify-content-end
          a.hs-admin-panel.u-link-v5.g-font-size-20.g-color-gray-light-v3.g-color-secondary--hover(href='#')
          a.hs-admin-reload.u-link-v5.g-font-size-20.g-color-gray-light-v3.g-color-secondary--hover.g-ml-20(href='#')
    .card-block.g-pa-15.g-pa-30--sm
      h4.g-font-weight-300.g-font-size-18.g-font-size-22--md.g-color-black.g-mb-10 Basic Panel with Background
      p.g-font-weight-300.g-color-gray-dark-v6.mb-0
        | Businesses often become known today through effective marketing. The marketing may be in the form of a regular news item or half column society news in the Sunday newspaper. The marketing may be in the form of a heart to heart talk
        | with Mr. Brown on his prominent local television show. These are all advertising. Businesses cannot get away from the force of advertising. If they want to make their products known in the marketplace they have to use some form of
        | advertisement.
  // End Panel
  // Panel
  .card.g-brd-gray-light-v7.g-rounded-3.g-mb-30
    header.card-header.g-bg-secondary.g-brd-bottom-none.g-px-15.g-px-30--sm.g-pt-15.g-pt-20--sm.g-pb-10.g-pb-15--sm
      .media
        h3.d-flex.align-self-center.text-uppercase.g-font-size-12.g-font-size-default--md.g-color-white.g-mr-10.mb-0 Panel title
        .media-body.d-flex.justify-content-end
          a.hs-admin-panel.u-link-v5.g-font-size-20.g-color-white-opacity-0_7.g-color-white--hover(href='#')
          a.hs-admin-reload.u-link-v5.g-font-size-20.g-color-white-opacity-0_7.g-color-white--hover.g-ml-20(href='#')
    .card-block.g-pa-15.g-pa-30--sm
      h4.g-font-weight-300.g-font-size-18.g-font-size-22--md.g-color-black.g-mb-10 Basic Panel with Background
      p.g-font-weight-300.g-color-gray-dark-v6.mb-0
        | Businesses often become known today through effective marketing. The marketing may be in the form of a regular news item or half column society news in the Sunday newspaper. The marketing may be in the form of a heart to heart talk
        | with Mr. Brown on his prominent local television show. These are all advertising. Businesses cannot get away from the force of advertising. If they want to make their products known in the marketplace they have to use some form of
        | advertisement.
  // End Panel
  // Panel
  .card.g-brd-gray-light-v7.g-rounded-3.g-mb-30
    .progress.g-height-6.g-bg-gray-light-v8.g-rounded-3
      .progress-bar.g-bg-darkblue-v2(role='progressbar' style='width: 40%' aria-valuenow='40' aria-valuemin='0' aria-valuemax='100')
    header.card-header.g-bg-transparent.g-brd-gray-light-v7.g-px-15.g-px-30--sm.g-pt-15.g-pt-20--sm.g-pb-10.g-pb-15--sm
      .media
        h3.d-flex.align-self-center.text-uppercase.g-font-size-12.g-font-size-default--md.g-color-black.g-mr-10.mb-0 Panel title
        .media-body.d-flex.justify-content-end
          a.hs-admin-panel.u-link-v5.g-font-size-20.g-color-gray-light-v3.g-color-secondary--hover(href='#')
          a.hs-admin-reload.u-link-v5.g-font-size-20.g-color-gray-light-v3.g-color-secondary--hover.g-ml-20(href='#')
    .card-block.g-pa-15.g-pa-30--sm
      h4.g-font-weight-300.g-font-size-18.g-font-size-22--md.g-color-black.g-mb-10 Panel with Progress bar
      p.g-font-weight-300.g-color-gray-dark-v6.mb-0
        | Businesses often become known today through effective marketing. The marketing may be in the form of a regular news item or half column society news in the Sunday newspaper. The marketing may be in the form of a heart to heart talk
        | with Mr. Brown on his prominent local television show. These are all advertising. Businesses cannot get away from the force of advertising. If they want to make their products known in the marketplace they have to use some form of
        | advertisement.
    footer.card-footer.d-flex.g-bg-transparent.g-brd-gray-light-v7.g-px-20.g-px-30--sm.g-py-10.g-py-20--sm
      .d-flex.align-items-center.g-color-gray-dark-v6
        i.hs-admin-comments.g-font-size-18.g-color-gray-light-v6
        span.g-ml-12 32
      .d-flex.align-items-center.g-color-gray-dark-v6.g-brd-left.g-brd-2.g-brd-gray-light-v7.g-pl-15.g-pl-30--sm.g-ml-15.g-ml-30--sm
        i.hs-admin-file.g-font-size-18.g-color-gray-light-v6
        span.g-ml-12 24
      .d-flex.align-items-center.g-color-gray-dark-v6.g-brd-left.g-brd-2.g-brd-gray-light-v7.g-pl-15.g-pl-30--sm.g-ml-15.g-ml-30--sm
        i.hs-admin-check.g-font-size-18.g-color-gray-light-v6
        span.g-ml-12 18
  // End Panel
  // Panel
  .card.g-brd-gray-light-v7.g-rounded-3.g-mb-30
    header.card-header.g-bg-transparent.g-brd-bottom-none.g-px-15.g-px-30--sm.g-py-15.g-py-25--sm
      .media
        .u-select--v1.g-line-height-1.g-bg-gray-light-v8.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-color-secondary--hover.g-rounded-15.g-pl-15.g-pr-40.g-py-10
          select.js-select.u-select--v1-select.w-100(style='display: none;')
            option(data-content='<span class="d-flex align-items-center"><span class="u-badge-v2--md g-pos-stc g-transform-origin--top-left g-bg-darkblue-v2 g-mr-8--sm"></span><span class="g-hidden-sm-down g-line-height-1_2 g-color-black">Employees</span></span>') Employees
            option(data-content='<span class="d-flex align-items-center"><span class="u-badge-v2--md g-pos-stc g-transform-origin--top-left g-bg-lightblue-v3 g-mr-8--sm"></span><span class="g-hidden-sm-down g-line-height-1_2 g-color-black">Friends</span></span>') Friends
            option(data-content='<span class="d-flex align-items-center"><span class="u-badge-v2--md g-pos-stc g-transform-origin--top-left g-bg-teal-v2 g-mr-8--sm"></span><span class="g-hidden-sm-down g-line-height-1_2 g-color-black">Colleagues</span></span>') Colleagues
          i.hs-admin-angle-down.g-absolute-centered--y.g-right-15.g-color-gray-light-v6
        .media-body.d-flex.align-self-center.justify-content-end
          a.d-flex.align-items-center.u-link-v5.g-color-gray-light-v6.g-color-secondary--hover(href='#')
            i.hs-admin-share.g-font-size-18
            span.g-hidden-sm-down.g-ml-10 Forward
          a.d-flex.align-items-center.u-link-v5.g-color-gray-light-v6.g-color-secondary--hover.g-ml-10.g-ml-15--sm.g-ml-30--xl(href='#')
            i.hs-admin-brush-alt.g-font-size-18
            span.g-hidden-sm-down.g-ml-10 Mark as Spam
          .align-self-center.g-pos-rel.g-z-index-2
            a#dropDown6Invoker.u-link-v5.g-pos-rel.g-top-4.g-line-height-0.g-font-size-24.g-color-gray-light-v6.g-color-secondary--hover.g-ml-10.g-ml-20--md(href='#' aria-controls='dropDown6' aria-haspopup='true' aria-expanded='false' data-dropdown-event='click' data-dropdown-target='#dropDown6' data-dropdown-type='jquery-slide')
              i.hs-admin-more-alt
            #dropDown6.u-shadow-v31.g-pos-abs.g-right-0.g-z-index-2.g-bg-white.u-dropdown--css-animation.u-dropdown--hidden.u-dropdown--reverse-y(aria-labelledby='dropDown6Invoker')
              ul.list-unstyled.g-nowrap.mb-0
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-pencil.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Edit
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-archive.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Archive
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-check.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Mark as Done
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-plus.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   New Task
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-trash.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Delete
    hr.d-flex.g-brd-gray-light-v7.g-mx-15.g-mx-30--sm.my-0
    .card-block.g-pa-15.g-pa-30--sm.g-pt-15.g-pt-25--sm
      h4.g-font-weight-300.g-font-size-18.g-font-size-22--md.g-color-black.g-mb-10 Basic Panel
      p.g-font-weight-300.g-color-gray-dark-v6.mb-0
        | Businesses often become known today through effective marketing. The marketing may be in the form of a regular news item or half column society news in the Sunday newspaper. The marketing may be in the form of a heart to heart talk
        | with Mr. Brown on his prominent local television show. These are all advertising. Businesses cannot get away from the force of advertising. If they want to make their products known in the marketplace they have to use some form of
        | advertisement.
  // End Panel
  // Panel
  .card.g-brd-gray-light-v7.g-rounded-3.g-mb-30
    header.card-header.g-bg-transparent.g-brd-gray-light-v7.g-px-15.g-px-30--sm.g-pt-15.g-pt-25--sm.g-pb-10.g-pb-20--sm
      .media
        .d-flex.align-self-center.g-pos-rel
          a.d-flex.align-items-center.u-link-v5.g-parent.g-width-100--sm.g-line-height-1_2.g-font-size-default(href='#' aria-haspopup='true' aria-expanded='false' data-dropdown-event='click' aria-controls='searchSecond' data-dropdown-target='#searchSecond' data-dropdown-type='css-animation' data-dropdown-duration='300' data-dropdown-animation-in='fadeInUp' data-dropdown-animation-out='fadeOutDown')
            i.hs-admin-search.g-font-size-16.g-color-gray-light-v6.g-color-secondary--parent-hover.g-mr-10.g-mr-15--md
            span.g-color-gray-dark-v6.g-color-secondary--parent-hover Search
          form#searchSecond.u-dropdown--css-animation.u-dropdown--hidden.g-pos-abs.g-top-100x.g-left-0.g-width-200.g-mt-8
            .input-group.mb-0
              input.form-control.g-font-size-default.w-100(type='search')
        h3.media-body.d-flex.align-self-center.justify-content-center.text-uppercase.g-font-size-12.g-font-size-default--md.g-color-black.g-px-10.mb-0 Panel title
        .d-flex.align-self-center.justify-content-end.g-width-100--sm
          .align-self-center.g-pos-rel.g-z-index-2
            a#dropDown7Invoker.u-link-v5.g-pos-rel.g-top-4.g-line-height-0.g-font-size-24.g-color-gray-light-v6.g-color-secondary--hover.g-ml-10.g-ml-20--md(href='#' aria-controls='dropDown7' aria-haspopup='true' aria-expanded='false' data-dropdown-event='click' data-dropdown-target='#dropDown7' data-dropdown-type='jquery-slide')
              i.hs-admin-more-alt
            #dropDown7.u-shadow-v31.g-pos-abs.g-right-0.g-z-index-2.g-bg-white.u-dropdown--css-animation.u-dropdown--hidden.u-dropdown--reverse-y(aria-labelledby='dropDown7Invoker')
              ul.list-unstyled.g-nowrap.mb-0
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-pencil.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Edit
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-archive.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Archive
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-check.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Mark as Done
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-plus.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   New Task
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-trash.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Delete
    .card-block.text-center.g-pa-15.g-pa-30--sm
      h4.g-font-weight-300.g-font-size-18.g-font-size-22--md.g-color-black.g-mb-10 Basic Panel with Center align
      p.g-font-weight-300.g-color-gray-dark-v6.mb-0
        | Businesses often become known today through effective marketing. The marketing may be in the form of a regular news item or half column society news in the Sunday newspaper. The marketing may be in the form of a heart to heart talk
        | with Mr. Brown on his prominent local television show. These are all advertising. Businesses cannot get away from the force of advertising. If they want to make their products known in the marketplace they have to use some form of
        | advertisement.
  // End Panel
  // Panel
  .card.g-brd-gray-light-v7.g-rounded-3.g-mb-30
    header.card-header.g-bg-transparent.g-brd-gray-light-v7.g-px-15.g-px-30--sm.g-pt-15.g-pt-25--sm.g-pb-10.g-pb-20--sm
      .media
        h3.d-flex.align-self-center.text-uppercase.g-font-size-12.g-font-size-default--md.g-color-secondary.g-mr-10.mb-0 Panel title
        .media-body.d-flex.justify-content-end
          .align-self-center.g-pos-rel.g-z-index-2
            a#dropDown8Invoker.u-link-v5.g-pos-rel.g-top-4.g-line-height-0.g-font-size-24.g-color-gray-light-v6.g-color-secondary--hover.g-ml-10.g-ml-20--md(href='#' aria-controls='dropDown8' aria-haspopup='true' aria-expanded='false' data-dropdown-event='click' data-dropdown-target='#dropDown8' data-dropdown-type='jquery-slide')
              i.hs-admin-more-alt
            #dropDown8.u-shadow-v31.g-pos-abs.g-right-0.g-z-index-2.g-bg-white.u-dropdown--css-animation.u-dropdown--hidden.u-dropdown--reverse-y(aria-labelledby='dropDown8Invoker')
              ul.list-unstyled.g-nowrap.mb-0
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-pencil.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Edit
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-archive.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Archive
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-check.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Mark as Done
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-plus.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   New Task
                li
                  a.d-flex.align-items-center.u-link-v5.g-bg-gray-light-v8--hover.g-font-size-12.g-font-size-default--md.g-color-gray-dark-v6.g-px-25.g-py-14(href='#')
                    i.hs-admin-trash.g-font-size-18.g-color-gray-light-v6.g-mr-10.g-mr-15--md
                    |                                   Delete
    .card-block.g-pa-15.g-pa-30--sm
      h4.g-font-weight-300.g-font-size-18.g-font-size-22--md.g-color-black.g-mb-10 Panel with Footer
      p.g-font-weight-300.g-color-gray-dark-v6.mb-0
        | Businesses often become known today through effective marketing. The marketing may be in the form of a regular news item or half column society news in the Sunday newspaper. The marketing may be in the form of a heart to heart talk
        | with Mr. Brown on his prominent local television show. These are all advertising. Businesses cannot get away from the force of advertising. If they want to make their products known in the marketplace they have to use some form of
        | advertisement.
    footer.card-footer.g-bg-transparent.g-brd-gray-light-v7.g-px-15.g-px-30--sm.g-py-15.g-py-25--sm
      .d-flex.align-items-center.g-color-gray-dark-v6
        i.hs-admin-check.g-font-size-18.g-color-secondary
        span.g-ml-10 All Tasks Completed
  // End Panel