extends layout

block content
  .container
      h1.display-4 Welcome
      p.lead
      | This is going to be the main page to the Agile Playbook website
      .row.text-xs-center
        .col-md-6.col-md-offset-3.p-t-2
          i.icn-person.material-icons error
          p.lead.m-t-2= message 
