extends layout

block content
  .container
      h1.display-4 Welcome
      p.lead
      | This is going to be the main page to the Agile Playbook website

//- block content
//-   h1 message : #{message}
//-   h1= message
//-   h1= `message : ${message}`