extends layout

block content
  form.g-py-15(method='POST' action='/login')
    section.g-pa-20
      // Line Text Inputs
      .g-brd-around.g-brd-gray-light-v7.g-rounded-4.g-pa-15.g-pa-20--md.g-mb-30
        h3.d-flex.align-self-center.text-uppercase.g-font-size-12.g-font-size-default--md.g-color-black.g-mb-20 Email Address
        // Default Input
        .form-group.g-mb-30
          //- label.g-mb-10(for='inputGroup-4_1') Default Input
          .g-pos-rel
            span.g-pos-abs.g-top-0.g-right-0.d-block.g-width-40.h-100.opacity-0.g-opacity-1--success
              i.hs-admin-check.g-absolute-centered.g-font-size-default.g-color-secondary
            input#inputGroup-4_1.form-control.form-control-md.g-brd-none.g-brd-bottom.g-brd-gray-light-v7.g-brd-gray-light-v3--focus.rounded-0.px-0.g-py-10(type='email' placeholder='Enter Email Address' name='email')
        // End Default Input
        h3.d-flex.align-self-center.text-uppercase.g-font-size-12.g-font-size-default--md.g-color-black.g-mb-20 Password
        // Default Input
        .form-group.g-mb-30
          //- label.g-mb-10(for='inputGroup-4_1') Default Input
          .g-pos-rel
            span.g-pos-abs.g-top-0.g-right-0.d-block.g-width-40.h-100.opacity-0.g-opacity-1--success
              i.hs-admin-check.g-absolute-centered.g-font-size-default.g-color-secondary
            input#inputGroup-4_1.form-control.form-control-md.g-brd-none.g-brd-bottom.g-brd-gray-light-v7.g-brd-gray-light-v3--focus.rounded-0.px-0.g-py-10(type='password' placeholder='Enter Password' name='password')
        // End Default Input
        .mb-4
          button.btn.btn-md.btn-block.u-btn-primary.g-py-13(type='submit') Login
          // End Form
          footer.text-center(style='margin-top:15px')
            p.g-color-gray-dark-v5.g-font-size-13.mb-0
              | Want access to the Playbook?   
              a.g-font-weight-600(href='register') 
                | Register Now
      // End Line Text Inputs

