extends layout

block content
  section.container.g-py-150
    .row.justify-content-center
      .col-sm-8.col-lg-6
        .g-brd-around.g-brd-gray-dark-v4.rounded.g-py-40.g-px-30
          header.text-center.mb-4
            h2.h2.g-color-black.g-font-weight-600 Login
          // Form
          form.g-py-15(method='POST' action='/login')
            .mb-4
              .input-group.g-brd-primary--focus
                .input-group-prepend
                  span.input-group-text.g-width-45.g-brd-right-none.g-brd-gray-dark-v4.g-color-gray-dark-v5
                    i.icon-finance-067.u-line-icon-pro
                input.form-control.g-color-black.g-bg-white.g-brd-gray-dark-v4.g-py-15.g-px-15(type='email' placeholder='johndoe@gmail.com' name='email')
            .g-mb-35
              .input-group.g-brd-primary--focus.mb-4
                .input-group-prepend
                  span.input-group-text.g-width-45.g-brd-right-none.g-brd-gray-dark-v4.g-color-gray-dark-v5
                    i.icon-media-094.u-line-icon-pro
                input.form-control.g-color-black.g-bg-white.g-brd-gray-dark-v4.g-py-15.g-px-15(type='password' placeholder='Password' name='password')
              .row.justify-content-between
                //- .col.align-self-center
                //-   label.form-check-inline.u-check.g-color-gray-dark-v5.g-font-size-12.g-pl-25.mb-0
                //-     input.g-hidden-xs-up.g-pos-abs.g-top-0.g-left-0(type='checkbox')
                //-     .u-check-icon-checkbox-v6.g-absolute-centered--y.g-left-0
                //-       i.fa.g-rounded-2(data-check-icon='&#xf00c')
                //-     |                       Keep signed in
                //- .col.align-self-center.text-right
                //-   a.g-font-size-12(href='#!') Forgot password?
            .mb-4
              button.btn.btn-md.btn-block.u-btn-primary.g-py-13(type='submit') Login
          // End Form
          footer.text-center
            p.g-color-gray-dark-v5.g-font-size-13.mb-0
              | Want access to the Playbook?   
              a.g-font-weight-600(href='register') 
                | Register Now
  // End Login
