extends layout

block content
    h1.display-1 Introduction
    h1.display-2 Agile Overview
    h1 Playbook
        h2 Team
            h3 Overview
            h3 Roles & Responsibilities
                h4 Product Owner
                h4 Scrum Master
                h4 Developer
                h4 Tester
                h4 Architect
                h4 Extended Team Members (Dev Ops, Infrastructure)
            h3 Team Size
            h3 Team Charter
            h3 Co-location & Distributed Teams
            h3 Team Definitions
                h4 Definition of Ready
                h4 Definition of Done
                h4 Definition of Points & Estimation
        h2 Agile Artifacts
            h3 Overview
                h4 Features
                h4 Epics
                h4 User Stories
                h4 Tasks
        h2 Backlog
            h3 Overview
            h3 Backlog Owner
            h3 Backlog Structure
            h3 Backlog Management
            h3 Backlog Prioritization
            h3 Backlog Sizing
        h2 Sprint
            h3 Overview
            h3 Sprint Cadence
            h3 Sprint Calendar
            h3 Sprint Duration
            h3 Sprint Rituals
                h4 Planning
                h4 Grooming
                h4 Sizing
                h4 Retrospective
                h4 Demo
                h4 Standup
        h2 Delivery 